.dot {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #9880ff;
  border-radius: 50%;

  top: 50vh;

  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot::before,
.dot::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot::before {
  left: -40px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9880ff;

  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0s;
}

.dot::after {
  left: 40px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9880ff;

  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }

  50%,
  100% {
    background-color: #ebe6ff;
  }
}
