:root {
  /* margin value */
  --margin-ns: 12px;

  /* padding value */
  --padding: 12px;

  /* colors */
  --line-color: #dcdcdc;
  --line-focus-color: #c49e9e;
  --bg-color: #71d4ff;

  /* font */
  --font-size-s: 1.1rem;
  --font-size-m: 1.2rem;
  --font-color: #fbfdf4;

  /* border-radius */
  --border-size-s: 2px;
  --border-radius-s: 4px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.title {
  margin: var(--margin-ns) 0;
}

.content {
  width: 60%;
  height: 50%;

  padding: var(--padding);

  border: var(--border-size-s) solid var(--line-color);
  border-radius: var(--border-radius-s);

  font-size: var(--font-size-s);

  margin-bottom: var(--margin-ns);
}

.content:focus {
  border: var(--border-size-s) solid var(--line-focus-color);
}

.button {
  font-size: var(--font-size-m);
  color: #fbfdf4;
  padding: var(--padding);
  background-color: var(--bg-color);

  border: none;
  border-radius: var(--border-radius-s);
}
